/*
Author: Zachary Lazzara
Date: 08/10/2019
*/

a:link {
    color: lightblue;
}

a:hover {
    color: salmon;
}

a:visited {
    color: mediumorchid;
}

body {
    background: url(../res/photos/skyline.jpg) no-repeat center fixed;
    background-size: cover;
}

#ref-avail {
    text-align: center;
    display: block;
}

#content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-color: #222;
    border-color: #080808;
    color: white;
}

.avatar {
    border-radius: 50%;
    width: 130px;
}

.avatar-container {
    float: left;
    padding-right: 10px;
}

.panel {
    background-color: #222;
    border-color: #080808;
    color: white;
}

.container .text-muted {
	margin: 20px 0;
}

.divider {
    border-left: thin solid #dbd8d8;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
    background-color: #222;
    border-color: #080808;
}

.navbar {
    border-radius: 0;
}

.ref:link, .ref:hover, .ref:visited {
    color: white !important;
}

@viewport {
    width: device-width;
    zoom: 1;
}

@media only screen and (orientation:portrait) {
    #content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.9;
    }
}

@media only screen and (max-width: 900px) {
    /*
    Author: Gerfried
    Date: 17/10/2014
    Availability: https://stackoverflow.com/a/26433031
    */

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in, .navbar-header.collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float:none;
    }
}
